*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f3f4f6;
}

header{
    background:#002147;
    color:white;
    padding:20px;
    text-align:center;
}

header input{
    margin-top:15px;
    width:90%;
    max-width:500px;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.card h2{
    font-size:18px;
    margin-top:15px;
}

.card:hover{
    transform:translateY(-5px);
}

.top-bar{
    background:#002147;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

#menuBtn{
    background:none;
    border:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

.hero{
    background:#d4af37;
    color:#002147;
    padding:30px 20px;
    text-align:center;
}

.hero h2{
    font-size:32px;
}

.hero p{
    margin:10px 0 20px;
}

.hero input{
    width:100%;
    max-width:600px;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    width:100%;
    background:#002147;
    display:flex;
    justify-content:space-around;
    padding:10px 0;
}

.bottom-nav button{
    background:none;
    color:white;
    border:none;
    font-size:14px;
    cursor:pointer;
}

button{

    background:#002147;

    color:white;

    padding:10px 20px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

button:hover{

    background:#0b4da2;

}

.law-page{

    padding:20px;

    max-width:900px;

    margin:auto;

}

.law-page h2{

    color:#002147;

    margin-bottom:10px;

}

.law-page h4{

    color:#555;

}

.law-page p{

    line-height:1.8;

    margin-top:10px;

}